{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Create a Quiz</h2>
                    <hr>

                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="{{ form.title.id_for_label }}" class="form-label">Quiz Title</label>
                            {{ form.title }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.description.id_for_label }}" class="form-label">Quiz Description</label>
                            {{ form.description }}
                        </div>
                       
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Create Quiz</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
