{% extends "base.html" %}
{% load static %}
{% block title %}Home Page{% endblock %}

{% block content %}
    <p class="btn btn-dark">Hello, {{ request.user }}!</p>
    
    <div class="d-flex flex-wrap px-5 pt-3 align-items-center">

        <div class="col-6">
          <h1>Welcome to Quizfinity</h1>
          <br>
          <h3>-- Where Knowledge Meets Fun!</h3>
          <p>Embark on an exciting journey of learning and quizzing with Quizfinity! Explore a world of fascinating quizzes, test your knowledge, and challenge your intellect. Whether you're a trivia enthusiast or a curious learner, Quizfinity is your gateway to endless quizzes on diverse topics. Join us today and let the quest for knowledge begin!sit cum at nemo nulla autem! Dolor quaerat ea voluptatem ullam, consequuntur quisquam ut iste. Vitae exercitationem ipsum blanditiis. Nihil rem in quo magni quam sapiente ad ipsa voluptatum saepe quos temporibus, at iste? Eum saepe eos error ea recusandae, deserunt at quidem odio harum inventore. Necessitatibus eos sapiente architecto optio aut esse, facilis, voluptatibus assumenda ut exercitationem nobis molestias, quisquam nam quia odio ipsa? Voluptatem voluptas distinctio eaque.</p>
        </div>
        <div class="col-6">
          <img src="{% static 'header.jpg' %}" />
        </div>
      </div>
   
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>



{% endblock %}
