{% extends "base.html" %}
{% load static %}
{% block title %}Home Page{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <p class="btn btn-dark">Hello, {{ request.user }}!</p>
            </div>
        </div>
        
        <div class="row justify-content-center my-5">
            <div class="col-md-8">
                <div class="text-center">
                    <h1>Welcome to Quizfinity</h1>
                    <h3>-- Where Knowledge Meets Fun!</h3>
                </div>
            </div>
        </div>
        
        <div class="row justify-content-center">
            <div class="col-md-8">
                <p>Embark on an exciting journey of learning and quizzing with Quizfinity! Explore a world of fascinating quizzes, test your knowledge, and challenge your intellect. Whether you're a trivia enthusiast or a curious learner, Quizfinity is your gateway to endless quizzes on diverse topics. Join us today and let the quest for knowledge begin!</p>
            </div>
        </div>
    </div>
{% endblock %}
